*{

  margin: 0;
  padding: 0;
}



video{


  position: absolute;
}


.container{
  position: relative;
  display: inline-block;
  margin: 70px;
  border-radius: 20px;
  width: 600px;
  height: 200px;
  background-color: rgba(0,0,0,.3);
  border-style: solid;
  border-color: #fddb45;
  border-width: 1px;
  
  
  
  
  

}

img{
  position: relative;
  width: 90px;
  margin: 10px;
  opacity: .8;
  float: right;
  border-radius: 10px;
  border-style: solid;
  border-color: #fddb45;
  border-width: 2px;
}

audio{
  filter: invert();
  height: 10px;
  opacity: .3;
  margin: 20px;
  

}

audio :hover{

  transform: scale(1.1);
}

h2{
  
  padding: 50px;
  text-decoration: underline;
  font-family: minisystem;
  display: inline;
  position: relative;
  font-size: 30px;
  color: greenyellow;
}

h3{
  
  display: inline;
  width: 20%;
  font-family: minisystem;
  position: relative;
  font-size: 20px;
  color:#fddb45;
  
}

.container2{
  position: relative;
  display: block;
  margin: 70px;
  border-radius: 20px;
  width: 600px;
  height: 200px;
  background-color:rgba(0,0,0,.3);
  border-style: solid;
  border-width: 1.5px;

  
  
  
  
  

}

img{
  position: relative;
  width: 90px;
  margin: 10px;
  opacity: .8;
  float: right;
  border-radius: 10px;
  border-width: 1.5px;
}

audio{
  width:400;
  filter: invert();
  height: 10px;
  opacity: .3;
  margin-top: 130px;

}
h2{
  padding: 50px;
  text-decoration: underline;
  font-family: minisystem;
  display: inline;
  position: relative;
  font-size: 20px;
  color: #fddb45;
}

h3{
  
  display: inline;
  width: 20%;
  font-family: minisystem;
  position: relative;
  font-size: 15px;
  color:#fddb45;
  
}